.trash {
	color:rgb(209, 91, 71);
}

.st-sort-ascent:before{
   content: '\25B2';
 }

.st-sort-descent:before{
   content: '\25BC';
 }

 .admin-table {
 	background-color: white;
  padding: 25px 15px 15px 15px;
 }

.actor-well {

	a{
		img.admin-thumbnail {
			cursor:pointer;
			width: 100%;
		}
	}

	.circle-sag{
		background-color: #f2c400;
		padding: 28% 10% 10% 10%;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		text-align: center;
		color: white;
		vertical-align: middle;
	}

	.circle-non{
		background-color: #3db39e;
		padding: 28% 10% 10% 10%;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		text-align: center;
		color: white;
		vertical-align: middle;
	}

	.circle-high-complete{
		background-color: #3db39e;
		padding: 28% 10% 10% 10%;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		text-align: center;
		color: white;
		vertical-align: middle;
	}

	.circle-mid-complete{
		background-color: #3db39e;
		padding: 28% 10% 10% 10%;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		text-align: center;
		color: white;
		vertical-align: middle;
		opacity: 0.7;
	}

	.circle-low-complete{
		background-color: #3db39e;
		padding: 28% 10% 10% 10%;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		text-align: center;
		color: white;
		vertical-align: middle;
		opacity: 0.4;
	}

}
