<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<div class="container account-container">
  <!-- change email -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Email</h1>
    </div>
    <div class="col-sm-12">
      
  <!-- email form -->
      <form class="form" name="emailForm" ng-submit="changeEmail(emailForm); $event.stopPropagation(); $event.preventDefault();" novalidate>

        <div class="form-group">
      <!-- old email -->
          <input type="email" name="email" class="form-control" placeholder="Old Email" ng-model="user.oldEmail"
                 mongoose-error />
          <p class="help-block" ng-show="emailForm.email.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

      <!-- new email -->
        <div class="form-group">

          <input type="email" name="newEmail" class="form-control" placeholder="New Email" ng-model="user.newEmail"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(emailForm.newEmail.$error.minlength || emailForm.newEmail.$error.required) && (emailForm.newEmail.$dirty || submitted)">
            New Email must be at least 3 characters.
          </p>
        </div>

        <p class="text-success"> {{ emailMessage }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
      <!-- end password form -->

    </div>
  </div>
  <!-- end change email -->
  <!-- change password -->
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      
      <!-- password form -->
      <form class="form" name="form" ng-submit="changePassword(form); $event.stopPropagation(); $event.preventDefault();" novalidate>

        <div class="form-group">
 <!-- old password -->
          <input type="password" name="password" class="form-control" placeholder="Old Password" ng-model="user.oldPassword"
                 mongoose-error />
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

<!-- new password -->
        <div class="form-group">

          <input type="password" name="newPassword" class="form-control" placeholder="New Password" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
      <!-- end password form -->

    </div>
  </div>
  <!-- change password -->
</div>
