
// Colors
$brand-primary:         #f2c400  !default;
$brand-success:         #22cacc  !default;
$brand-info:            #3db39e  !default;
$brand-warning:         #ff6a6a  !default;
$brand-danger:          #d9534f  !default;

$body-bg:               #3db39e  !default;

$font-family-sans-serif:  'Montserrat', sans-serif;

$border-radius-base:        11.5px !default;
$border-radius-large:       11.5px !default;

input[type="file"] {
  display: block;
  color: $brand-info;
}


$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



/**
 * App-wide Styles
 */


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar-default {
    background-color: $brand-info;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
    border-color: $brand-info;

    .navbar-text {
    	color: black;
	}

}

.navbar-default .navbar-nav > li > a {
	color: white;
}

// .well-welcome{
//     padding: 19p
// }

// body{
// 	font-family:;
// }

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'actor/actor.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'modal/modal.scss';
// endinjector
