.navbar-mobile {
  font-family: 'Montserrat Light', sans-serif;
  height: 100%;
}

.dimming {
  display:none;
}

.dimming.open {
  background: none;
  bottom:0;
  display:block;
  left:0;
  opacity:0.8;
  position:fixed;
  right:0;
  top:0;
  z-index:1031;
}

.navbar-nav > li > a {
  padding-left: 30px;
}

.overflow-hidden {
  overflow:hidden;
}

.mobile-nav-bar {
  a {
    color: white;
  }
}

.nav .nav-divider {
  background-color: #32ac96;
}

.navbar-mobile-header{
    padding-top: 30px;
    // padding-left: 30px;
}

ul {
  list-style-type: none;
}

ul.mobile-nav-footer {
  padding-left: 20px;
}

// li.nav-divider {
//   background-color: #32ac96;
// }

// test
.mobile-nav-footer {
    a {
    color: white;
  }
  bottom: 0;
  position: absolute;
  width: 100%;
}

// .navbar-default {
//   box-shadow: none;
// }

.nav{
  img {
    width: 150%;
  }
  li {
    a:hover, .nav > li > a:focus {
      text-decoration: none;
      background-color: #3bbfa7;
      opacity: .70;
    }
  }
}


.panels {
  // -ms-scrollbar-face-color: #EEE;
  // -ms-scrollbar-highlight-color: #555;
  // -ms-scrollbar-shadow-color: #EEE;
  // -ms-scrollbar-3dlight-color: #EEE;
  // -ms-scrollbar-arrow-color: #EEE;
  // -ms-scrollbar-track-color: #FFF;
  // -ms-scrollbar-darkshadow-color: #EEE;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  background:#3bbfa7;
  display:block;
  overflow-x:hidden;
  overflow-y:auto;
  pointer-events:all;
  position:fixed;
  transition:.2s ease-in-out;
  z-index:1032;
}

