.navbar-default .navbar-nav > li > a.signup-link{
    padding: 15px 5px;
}

.btn-learn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    &:hover{
        color: $brand-info;
        background-color: white;
        border: 1px solid white;
    }
}

.btn-create{
    background-color: $brand-primary;
    color: white;
    border: 1px solid $brand-primary;
    padding: 10px 30px;
    margin-left:10px;
    margin-top: 5px;
    &:hover{
        color: white;
        background-color: $brand-primary;
        border: 1px solid white;
    }
}

.btn-bottom-create{
    background-color: $brand-primary;
    color: white;
    border: 1px solid $brand-primary;
    padding: 10px 70px;
    &:hover{
        color: white;
        background-color: $brand-primary;
        border: 1px solid white;
    }
}

.top-well{
    margin-bottom: 30px;
}

.bottom-create {
  margin-top: 30px;
  margin-bottom: 30px;
}

.landing-footer{
    background-color: white;
    color: black;
    padding: 10px 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    overflow: visible;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 0px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $brand-info;
    width: 100%
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
  color: white;
}

.landing-bottom-well {
    margin-top: 85px;
    margin-bottom: 85px;
}

ul.signup-link a {
    position: relative;
    display: block;
    padding: 15px 5px;
}

 img.landing-images {
    padding: 10px 0;
    width: 45%;
 }

a {
 color: $brand-info;
 text-decoration: none;
}

a:hover {
 text-decoration: none;
 color: $brand-primary;
}

#banner.hero-unit {
    .container{
        padding: 30px 0px;
        margin-top: 200px;
        margin-bottom: 300px;
    }
}

#banner.hero-unit {
  background-image: url("https://s3-us-west-1.amazonaws.com/castifistaticassets/lalaland.svg"); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: $brand-info;
  padding-top: 10%;
  padding-bottom: 30%;
}


.account-container {
    h1{
     color: white;
    }
}

// Media Breakpoints

@media only screen and (max-width: $screen-xs) {

    #banner.hero-unit {
      background-image: url("https://s3-us-west-1.amazonaws.com/castifistaticassets/LaLaLand-mobile.svg");
      background-repeat: no-repeat;
      background-color: $brand-info;
      background-size: 100% 163%;
      padding-top: 9%;
      padding-bottom: 46%;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color:white;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        &:focus{
            background-color: white;

            .icon-bar{
                background-color:$brand-info;
            }

        }
        &:hover{
            background-color:white;

            .icon-bar{
                background-color:$brand-info;
            }

        }
    }

    .navbar-default .navbar-nav > li > a.signup-link {
        padding: 10px 15px;
    }

}
