.btn-learn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 30px;
    &:hover{
        color: $brand-info;
        background-color: white;
        border: 1px solid white;
    }
}

.btn-create{
    background-color: $brand-primary;
    color: white;
    border: 1px solid $brand-primary;
    padding: 10px 30px;
    &:hover{
        color: white;
        background-color: $brand-primary;
        border: 1px solid white;
    }
}

.landing-footer{
    background-color: white;
    padding: 15px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: $brand-info;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
  color: white;
}

a {
 color: $brand-info;
 text-decoration: none;
}

a:hover {
 text-decoration: none;
 color: $brand-primary;
}
