<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
      <h1>Basic</h1>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      
      <form class="form" name="form" ng-submit="createProfile(form)" novalidate>
        
        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>First Name</label>
          <input type="text" name="name" class="form-control" ng-model="actor.legalFirstName"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A first name is required
          </p>
        </div>

          <div class="form-group" ng-class="{ 'has-success': form.middle.$valid && submitted,
                                             'has-error': form.middle.$invalid && submitted }">
          <label>Middle Name</label>
          <input type="text" name="middle" class="form-control" ng-model="actor.legalMiddleName"
                 required/>
          <p class="help-block" ng-show="form.middle.$error.required && submitted">
            A middle name is required
          </p>
        </div>

         <div class="form-group" ng-class="{ 'has-success': form.first.$valid && submitted,
                                            'has-error': form.first.$invalid && submitted }">
          <label>Last Name</label>
          <input type="text" name="first" class="form-control" ng-model="actor.legalLastName"
                 required/>
          <p class="help-block" ng-show="form.first.$error.required && submitted">
            A last name is required
          </p>
        </div>

        <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit">
              Create Profile
          </button>
        </div>

      </form>
   
    </div>
  </div>
</div>
