<div class="col-sm-12">

      <fieldset>
        <div class="row">

        <div class="col-sm-6">

        <div class="form-group">
           <label for="gender">Gender</label>
              <label class="checkbox-inline">

                  <input type="radio" name="optionRadiosinline" ng-model="newPost.gender" id="optionsRadios3"  value="male" checked> Male
              </label>
              <label class="checkbox-inline">
                  <input type="radio" name="optionRadiosinline" ng-model="newPost.gender" id="optionsRadios4" value="female"> Female
              </label>
          </div>
          <div class="form-group">
              <label class="control-label" for="portrayabelAge">Portrayable Age</label>
              <div class="controls form-inline">
                  <input type="number" min="1" max="120" data-ng-model="newPost.minage" id="portrayableAge" class="inline form-control">
                  to


                  <input type="number" min="1" max="120" data-ng-model="newPost.maxage" id="portrayableAge" class="inline form-control">
             </div>
          </div>

        <div class="form-group">
            <label class="control-label" for="height">Height</label>
            <div class="controls">
                <input type="text" data-ng-model="newPost.height" id="height" class="form-control">
           </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="email">Weight</label>
            <div class="controls">
                <input type="text" data-ng-model="newPost.weight" id="weight" class="form-control">
           </div>
        </div>

         <!-- <div class="form-group">
            <label class="control-label" for="lastname">Sizing</label>
            <div class="controls form-inline">
            Coat
                <input type="number" min="1" max="120" data-ng-model="newPost.lastname" id="lastname" class="inline form-control">

           Neck

                <input type="number" min="1" max="5" data-ng-model="newPost.lastname" id="lastname" class="inline form-control">
           </div>
        </div> -->

       <!--  <div class="form-group">

            <div class="controls form-inline">
            Sleeve
                <input type="number" min="1" max="120" data-ng-model="newPost.lastname" id="lastname" class="inline form-control">

           Waist

                <input type="number" min="1" max="5" data-ng-model="newPost.lastname" id="lastname" class="inline form-control">
           </div>
        </div> -->

    </div>


    <div class="col-sm-6">

        <div class="form-group">
         <label for="name"> Nudity: </label>
            <label class="checkbox-inline">

                <input type="radio" name="optionsRadiosinline" id="optionsRadios3"  ng-model="newPost.nudity" value="YesNudity" checked> Yes
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="optionsRadiosinline" id="optionsRadios4" ng-model="newPost.nudity" value="NoNudity"> No
            </label>
            <label class="checkbox-inline">
                <input type="radio" name="optionsRadiosinline" id="optionsRadios4" ng-model="newPost.nudity" value="PartialNudity"> Partial
            </label>
        </div>








        <div class="form-group">




           <label class="control-label" for="eyecolor">Eye Color</label>
              <select class="form-control" data-ng-model="newPost.eyecolor" data-ng-options="eye for eye in eyes">

                </select>
        </div>

        <div class="form-group">

           <label class="control-label" for="haircolor">Hair Color</label>
            <select class="form-control" data-ng-model="newPost.haircolor" data-ng-options="h for h in hair">

                </select>
              <!-- <select class="form-control">
                    <option value="Brown">Brown</option>
                    <option value="Blond">Blond</option>
                    <option value="Black">Black</option>
                    <option value="Red">Red</option>
                    <option value="White">White</option>
                    <option value="Gray">Gray</option>
                    <option value="Other">Other</option>

                </select> -->
        </div>







<div ng-show="newPost.gender == 'female'">
         <div class="form-group" >
            <label class="control-label" for="sizing">Sizing</label>
            <div class="controls form-inline">
            Bra
                <input type="text" data-ng-model="newPost.braSize" id="braSize" class="inline form-control">

           Waist

                <input type="text"  data-ng-model="newPost.waistSize" id="waistSize" class="inline form-control">
           </div>
        </div>
  </div>


  <div ng-show="newPost.gender == 'male'">
         <div class="form-group" >
            <label class="control-label" for="sizing">Sizing</label>
            <div class="controls form-inline">
            Coat
                <input type="text"  data-ng-model="newPost.coatSize" id="coatSize" class="inline form-control">

           Neck

                <input type="text"  data-ng-model="newPost.neckSize" id="neckSize" class="inline form-control">
           </div>
        </div>
  </div>


      </div>
</div>



<div class="row">
  <div class="col-sm-6 col-sm-push-6">

   <div ng-show="newPost.gender == 'male'">
        <div class="form-group" >

            <div class="controls form-inline">
            Sleeve
                <input type="text" data-ng-model="newPost.sleeveSize" id="sleeveSize" class="inline form-control">

           Waist

                <input type="text" data-ng-model="newPost.waistSize" id="waistSize" class="inline form-control">
           </div>
        </div>




        <div class="form-group" >

            <div class="controls form-inline">
            Inseam
                <input type="text"  data-ng-model="newPost.inseamSize" id="inseamSize" class="inline form-control">

           Shoes

                <input type="text"  data-ng-model="newPost.shoeSize" id="shoeSize" class="inline form-control">
           </div>
        </div>

  </div>


   <div ng-show="newPost.gender == 'female'">
        <div class="form-group" >

            <div class="controls form-inline">
            Hips
                <input type="text" data-ng-model="newPost.hipSize" id="hipSize" class="inline form-control">

           Dress

                <input type="text"  data-ng-model="newPost.dressSize" id="dressSize" class="inline form-control">
           </div>
        </div>




        <div class="form-group" >

            <div class="controls form-inline">
            Pants
                <input type="text" data-ng-model="newPost.pantSize" id="pantSize" class="inline form-control">

           Shoes

                <input type="text" data-ng-model="newPost.shoeSize" id="shoeSize" class="inline form-control">
           </div>
        </div>

  </div>
</div>
  <div class="col-sm-6 col-sm-pull-6">



          <div class="form-group">
            <label class="control-label" for="phone">Phone</label>
            <div class="controls">
                <input type="text" data-ng-model="newPost.phone" id="phone" class="form-control">
           </div>
        </div>



  <label for="name">Hair Style (if applicable) </label>
<div>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1"> Long
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2"> Short
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Medium
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Bald
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Braids
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Dreads
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Mohawk
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Toupee or wig
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3"> Afro
</label>

</div>

              </div>
          </div>




                  </div>
                  </div>



                    <div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
<a ui-sref="profile.size" class="btn btn-block btn-info">
Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
</a>
</div>
</div>
