<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-md-offset-4 text-center">
      <h1>Address</h1>
    </div>
    <div class="col-sm-12 col-md-4 col-md-offset-4">
      <form class="form" name="form" ng-submit="createProfile(form)" novalidate>
        
        <div class="row">
           <div class="col-sm-8"> 

              <div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
                                                  'has-error': form.address.$invalid && submitted }">
                <label>Address</label>
                <input type="text" name="address" class="form-control" ng-model="actor.contact.address"
                       required/>
                <p class="help-block" ng-show="form.address.$error.required && submitted">
                  An address is required
                </p>
              </div>

          </div>
          <div class="col-sm-4">

            <div class="form-group" ng-class="{ 'has-success': form.apartment.$valid && submitted,
                                                  'has-error': form.apartment.$invalid && submitted }">
                <label>Apartment</label>
                <input type="text" name="apartment" class="form-control" ng-model="actor.contact.aptNum"/>
              </div>

          </div>  
        </div>


          <div class="form-group" ng-class="{ 'has-success': form.city.$valid && submitted,
                                             'has-error': form.city.$invalid && submitted }">
          <label>City</label>
          <input type="text" name="city" class="form-control" ng-model="actor.contact.city"
                 required/>
          <p class="help-block" ng-show="form.city.$error.required && submitted">
            A city is required
          </p>
        </div>

        <div class="row">
         <div class="col-sm-6"> 

           <div class="form-group" ng-class="{ 'has-success': form.state.$valid && submitted,
                                               'has-error': form.state.$invalid && submitted }">
            <label>State</label>
            <input type="text" name="state" class="form-control" ng-model="actor.contact.state"
                   required/>
            <p class="help-block" ng-show="form.state.$error.required && submitted">
              A state is required
            </p>
          </div>

         </div> 
         <div class="col-sm-6"> 

          <div class="form-group" ng-class="{ 'has-success': form.zipcode.$valid && submitted,
                                               'has-error': form.zipcode.$invalid && submitted }">
            <label>Zipcode</label>
            <input type="text" name="zipcode" class="form-control" ng-model="actor.contact.zipCode"
                   required/>
            <p class="help-block" ng-show="form.zipcode.$error.required && submitted">
              A zipcode is required
            </p>
          </div>

         </div>
         </div> 


         <div class="form-group" ng-class="{ 'has-success': form.country.$valid && submitted,
                                            'has-error': form.country.$invalid && submitted }">
          <label>Country</label>
          <input type="text" name="country" class="form-control" ng-model="actor.contact.country"
                 required/>
          <p class="help-block" ng-show="form.country.$error.required && submitted">
            A country is required
          </p>
        </div>

        <div class="text-center">
          <button class="btn btn-lg btn-primary" type="submit">
            Next Step
          </button>
        </div>

      </form>
    </div>
  </div>
</div>
