
<div class="container">
  <div class="row">

    <div class="col-sm-12">
    	   <h1>Actor Body Modifications</h1>
      <form class="form" name="form" ng-submit="register(form)" novalidate>
      	 <!-- tattoos -->
      	<div class="row">
      		<div class="col-sm-3">
		        <div>
		          <label>Do You Have Any Tattoos?</label>
		          <input type="checkbox" ng-model="actor.tattoos.present"/>
		        </div>
      		</div>
        <!-- ng-if tattoos present-->
          <div ng-if="actor.tattoos.present">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Number</label>
                <input type="number" class="form-control" min="1" max="99" ng-model="actor.tattoos.tattooCountRange"/>
              </div>
          </div>

      		<div class="col-sm-3">
      			<input type="checkbox" ng-model="actor.tattoos.forearm"/>
            <label>Forearm</label><br>
            <input type="checkbox" ng-model="actor.tattoos.upperArm"/>
            <label>Upper Arm</label><br>
            <input type="checkbox" ng-model="actor.tattoos.neck"/>
            <label>Neck</label><br>
            <input type="checkbox" ng-model="actor.tattoos.face"/>
            <label>Face</label><br>
            <input type="checkbox" ng-model="actor.tattoos.chest"/>
            <label>Chest</label><br>
      		</div>

          <div class="col-sm-3">
            <input type="checkbox" ng-model="actor.tattoos.stomach"/>
            <label>Stomach</label><br>
            <input type="checkbox" ng-model="actor.tattoos.back"/>
            <label>Back</label><br>
            <input type="checkbox" ng-model="actor.tattoos.hand"/>
            <label>Hand</label><br>
            <input type="checkbox" ng-model="actor.tattoos.leg"/>
            <label>Leg</label><br>
            <input type="checkbox" ng-model="actor.tattoos.foot"/>
            <label>Foot</label><br>
          </div>

      	</div>
      	<!-- ng-if -->
      	</div>
      	<!-- end tattoos -->

        <hr>
        <!-- piercings -->
        <div class="row">
          <div class="col-sm-3">
            <div>
              <label>Do You Have Any Piercings?</label>
              <input type="checkbox" ng-model="actor.piercings.present"/>
            </div>
          </div>
        <!-- ng-if piercings present-->
          <div ng-if="actor.piercings.present">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Piercing Count</label>
                <input type="number" class="form-control" min="1" max="99" ng-model="actor.piercings.piercingCount"/>
              </div>
          </div>

          <div class="col-sm-3">
            <input type="checkbox" ng-model="actor.piercings.ear"/>
            <label>Ear</label><br>
            <input type="checkbox" ng-model="actor.piercings.nose"/>
            <label>Nose</label><br>
            <input type="checkbox" ng-model="actor.piercings.eyebrow"/>
            <label>Eyebrow</label><br>
          </div>

          <div class="col-sm-3">
            <input type="checkbox" ng-model="actor.piercings.lip"/>
            <label>Lip</label><br>
            <input type="checkbox" ng-model="actor.piercings.tongue"/>
            <label>Tongue</label><br>
            <input type="checkbox" ng-model="actor.piercings.navel"/>
            <label>Navel</label><br>
          </div>

        </div>
        <!-- ng-if -->
        </div>

        <!-- end piercings -->
        <hr>

          <button class="btn btn-lg btn-primary" type="submit">
            Next Step
          </button>
      </form>
  </div>
  </div>
</div>