.navbar-actor{
	.nav > li > a {
	    padding: 15px 35px;
	    color: black;
	}
	background-color:white;
	border-radius: 11.5px;
}

.navbar-actor li{
	border-right: 1px solid black;
}

.navbar-actor li:last-child{
	border-right: 0px solid red;
}

.navbar-actor li:first-child{
	border-radius: 11.5px 0px 0px 11.5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: $brand-info;
}

.actor-container{
	background-color: white;
	border-radius: 11.5px;
	padding: 20px 50px;
}

.actor-navbar-container{
	padding: 0px;
}

.actor-icons{
	margin-top: 20px;
	font-size: 100px;
	a{
		text-decoration: none;
	}
}

.no-top-marg {
	margin-top: 0;
}

.bottom-marg-10 {
	margin-bottom: 10px;
}

.bottom-marg-15 {
	margin-bottom: 15px;
}

.top-marg-10 {
	margin-top: 10px;
}

.left-marg-10 {
	margin-left: 10px;
}

.input-group-addon {
	min-width: 120px;
}

.fr {
	float: right;
}

.author span {
	color: #777;
}

