<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Show Us What You Look Like</h3>
      <h5>We need a Headshot, Bodyshot, Real Life Photo, and a Video of you. (No Nudity Please)</h5>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"   >
     <img ngf-thumbnail="headShot || actor.headShot || 'assets/images/actor/mirrorbox.svg'" style="width:80%">
         <h5>Headshot</h5>
          <input type="file" ng-model="headShot" ngf-max-size="2MB" ngf-select="uploadFiles($file, $invalidFiles, 'headShot')" accept="jpg,.jpeg, .png">
          </input>
    </div>

    <div class="col-sm-4">
     <img ngf-thumbnail="headToToe || actor.headToToe || 'assets/images/actor/mirrorbox.svg'" style="width:80%">
        <h5>Head to Toe</h5>
          <input type="file" ng-model="headToToe" ngf-max-size="2MB" ngf-select="uploadFiles(   $file, $invalidFiles, 'headToToe')" accept="jpg,.jpeg, .png">
          </input>
    </div>

    <div class="col-sm-4">
        <img ngf-thumbnail="realLife || actor.realLife || 'assets/images/actor/mirrorbox.svg'" style="width:80%">
           <h5>Real Life</h5>
             <input type="file" ng-model="realLife" ngf-max-size="2MB" ngf-select="uploadFiles(   $file, $invalidFiles, 'realLife')"
              accept="jpg,.jpeg, .png">
          </input>
    </div>

  </div>
  <br>
  <!-- end photos -->
  <!-- video -->
<!--   <div class="row">
    <div class="col-sm-4">
      <img src="assets/images/actor/mirrorbox.svg">
      <h5>Video</h5>
    </div>
  </div> -->
  <!-- end video -->
  <!-- submit button -->
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3"></div>
          <div class="col-sm-4 text-center">
              <button class="btn btn-lg btn-success" ui-sref="actor.overview">
                Save & Continue
              </button>
          </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <a href="/contact"><h6>Need Help?  <img src="assets/images/help.svg" style="width:40px"></h6></a>
      </div>
    </div>
  <!-- end submit button -->
</div>


