<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Actor Basic</h1>
    </div>

    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>


        <div>
          <label>Are You a Member of SAG or AFTRA?</label>
          <input type="checkbox" ng-model="actor.info.union"/>
        </div>

        <!-- union names -->
        <div ng-if="actor.info.union">
            <div class="form-group">
              <label>Union First Name</label>
              <input type="text" name="name" class="form-control" ng-model="actor.info.unionFirstName"/>
            </div>

              <div class="form-group">
              <label>Union Middle Name</label>
              <input type="text" name="middle" class="form-control" ng-model="actor.info.unionMiddleName"/>
            </div>

             <div class="form-group">
              <label>Union Last Name</label>
              <input type="text" name="first" class="form-control" ng-model="actor.info.unionLastName"/>
            </div>
        </div>
        <!-- end union names -->
        <hr>
        <!-- bio -->
       <!--  <div class="form-group">
              <label>Bio</label>
              <textarea class="form-control" rows="3" ng-model="actor.info.bio"></textarea>
              <input type="textarea" name="first" class="form-control" ng-model="actor.info.unionLastName"/>
        </div> -->
        <!-- end bio -->

        <!-- appearance -->
        <!-- height, weight -->
        <div class="row">

          <div class="col-sm-2">
             <div class="form-group">
              <label>Height Feet</label>
              <input type="number" class="form-control" ng-model="actor.appearance.heightFeet"/>
            </div>
          </div>

        <div class="col-sm-2">
             <div class="form-group">
              <label>Height Inches</label>
              <input type="number" class="form-control" ng-model="actor.appearance.heightInches"/>
            </div>
          </div>

          <div class="col-sm-2">
             <div class="form-group">
              <label>Weight</label>
              <input type="number" class="form-control" ng-model="actor.appearance.weight"/>
            </div>
          </div>

         <div class="col-sm-2"></div>
          <!-- min age, max age -->
          <div class="col-sm-2">
             <div class="form-group">
              <label>Min Portrayable Age</label>
              <input type="number" min="12" max="120" class="form-control" ng-model="actor.appearance.portrayAgeMin"/>
            </div>
          </div>

          <div class="col-sm-2">
             <div class="form-group">
              <label>Max Portrayable Age</label>
              <input type="number" min="12" max="120" class="form-control" ng-model="actor.appearance.portrayAgeMax"/>
            </div>
          </div>

      </div>
        <!-- end height / weight -->
        <hr>
        <!-- ethnic look(s), complexion, nationality -->
        <div class="row">
       <!--  left side of the screen -->
          <div class="col-sm-6">
            <label>Ethnic Appearance (pick up to 3)</label>
            <div class="row">
            <!-- ethnic looks -->
              <div class="col-sm-6 col-xs-6">
                  <input type="checkbox" ng-model="actor.ethnicLook.asian"/>
                  <label>Asian</label><br>
                  <input type="checkbox" ng-model="actor.ethnicLook.africanAmerican"/>
                  <label>African American</label><br>
                  <input type="checkbox" ng-model="actor.ethnicLook.caucasian"/>
                  <label>Caucasian</label><br>
                  <input type="checkbox" ng-model="actor.ethnicLook.easternIndian"/>
                  <label>East Indian</label><br>

              </div>
            <!-- ethnic looks -->
              <div class="col-sm-6 col-xs-6">
                  <input type="checkbox" ng-model="actor.ethnicLook.hispanic"/>
                  <label>Hispanic</label><br>
                  <input type="checkbox" ng-model="actor.ethnicLook.middleEastern"/>
                  <label>Middle Eastern</label><br>
                  <input type="checkbox" ng-model="actor.ethnicLook.nativeAmerican"/>
                  <label>Native American</label><br>
                  <input type="checkbox" ng-model="actor.ethnicLook.pacificIslander"/>
                  <label>Pacific Islander</label><br>
              </div>
           </div>
         </div>
<!--           right side of the screen -->
          <br>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Body Type</label>
              <select class="form-control" ng-model="actor.appearance.bodyType">
                <option value="bodybuilder">Bodybuilder</option>
                <option value="athletic">Athletic</option>
                <option value="lanky">Lanky</option>
                <option value="thin">Thin</option>
                <option value="overweight">Overweight</option>
                <option value="obese">Obese</option>
              </select>
            </div>

            <div class="form-group">
              <label>Complexion</label>
              <select class="form-control" ng-model="actor.appearance.complexion">
                <option value="dark">Dark</option>
                <option value="fair">Fair</option>
                <option value="olive">Olive</option>
                <option value="light">Light</option>
                <option value="ruddy">Ruddy</option>
                <option value="tan">Tan</option>
              </select>
            </div>

          </div>

      </div>

        <!-- twins, triplets, pregnant checkboxes  -->
        <!-- amputee(present) locationOne, locationTwo, extraInfo -->
        <!-- disabled(present) blind, mute, deaf, hearing-impaired, wheelchair -->
        <!-- end appearance -->
        <hr>

          <button class="btn btn-lg btn-primary" type="submit">
            Next Step
          </button>

      </form>
    </div>
  </div>
</div>
