<!-- <div class="container"> -->
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>

  <div class="row">
    <div class="well col-sm-12">
      <h1>Admin Actors List</h1>
    </div>
  </div>

  <ul class="row list-group">
    <li class="list-group-item col-sm-12" ng-repeat="actor in actors | orderBy: '-createdAt'">

        <span class="col-sm-1">
            <div style="background-color: #f2c400; padding: 10px; border-radius: 50%; width: 50px; height: 50px; text-align: center" ng-if="actor.info.union">SAG</div>
            <div style="background-color: #3db39e; padding: 10px; border-radius: 50%; width: 50px; height: 50px; text-align: center" ng-if="!actor.info.union">NON</div>
        </span>

        <span class="col-sm-2">
          <img ng-src="{{actor.headShot || 'assets/images/actor/picturebox.svg'}}">
        </span>

        <span class="col-sm-2">
          <strong>{{(actor.legalFirstName | capitalize) || '[unfilled: #000001]'}} {{ actor.legalLastName | capitalize}}</strong>
            <span style="word-wrap: break-word">{{actor.email}}</span><br>
        </span>

        <!-- user login w/ facebook   -->
 <!--        <span class="col-sm-1">
          <i ng-if="user."class="fa fa-envelope"></i>
          <i ng-if=""class="fa fa-facebook"></i>
        </span> -->
        <!-- end user login with facebook -->

        <span class="col-sm-1">
          {{actor.profileMetrics.profileComplete}}%
        </span>

        <span class="text-muted col-sm-2">
           <strong>Created:</strong> {{actor.createdAt | date: 'short' }} <br>
           <strong>Updated:</strong> {{actor.updatedAt | date: 'short' }}<br>
           <strong>Last Login:</strong> {{actor.lastLogin | date: 'short' }}
        </span>

        <span><a class="col-sm-1" ui-sref="admin.actors.edit({id: actor._id})">
          <button class="btn-sm btn-success">Edit Profile</button>
        </a></span>

        <span><a class="col-sm-1" ui-sref="admin.actors.photos({id: actor._id})">
          <button class="btn-sm btn-success">Edit Photos</button>
          </a>
        </span>

<!--          <span><a class="col-sm-2" ui-sref="admin.actors.detail({id: actor._id})">
            <button class="btn btn-info">Details</button>
          </a> </span> -->

        <span class="col-sm-1">
          <a ng-click="deactive(actor)" class="trash">
            <button ng-show="actor.active" class="btn-sm btn-danger">De-activate</button>
            <button ng-show="!actor.active" class="btn-sm btn-primary">Activate</button>
          </a>
        </span>
        <!-- delete button  -->
<!--         <span class="pull-right col-sm-2">
          <a ng-click="delete(actor)" class="trash">
            <button class="btn btn-danger">Eternal Delete <span class="glyphicon glyphicon-trash"></span></button>
          </a>
        </span> -->
        <!-- end delete button  -->
    </li>
  </ul>
<!-- </div> -->

